.training-container {
  @include pageBody();
  padding-bottom: 15px;
  max-width: 1110px;
  margin: 160px auto;
}

.training-header {
  @include pageHeader();
}

.add-workout,
.view-workouts {
  @include button();
}

.completed { 

  .project-name,
  .project-grade,
  .project-location,
  h3,
  p {
    text-decoration: line-through;
    text-decoration-color: $text;
    opacity: .5;
    transition: .3s ease;
  }
}

.view-workouts {
  font-size: .9rem;
  margin-right: 15px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.training-title {
  @include pageTitle();
}

.training {
  display: flex;
  width: 95%;
  margin: 0 auto;
  overflow: scroll;
}

.day {
  min-width: 130px;
  height: 300px;
  margin: 10px;
  background: $lightGrey;
  border-radius: 4px;
  overflow: scroll;
  
  h2 {
    text-align: center;
    margin: 0 auto;
    padding: 7px;
    font-size: 1.2rem;
    font-weight: 400;
    color: $accent;
    background: $midGrey;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  ul {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    width: 123px;
  }
}

.workout-item {
  cursor: pointer;
  
  h3 {
    color: $accent;
    margin: 0;
  }

  p {
    margin: 7px 0;
  }
}

.highlighted {
  border: 3px solid $accent;
  box-shadow: 0 0 5px 1px $accent;
}

.training-form {
  @include form();
  margin-bottom: 40px;

  input,
  button,
  select {
    @include form-element();
  }

  label {
    color: $text;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
  }

  h2 {
    @include form-title();
  }

  textarea {
    @include form-caption()
  }

  button {
    @include button();
    width: 200px;
    margin: 30px auto;
  }
}

@media screen and (max-width: 1150px) {
  .training-container {
    min-width: unset;
    width: 90%;
  }
}

@media screen and (max-width: 650px) {
  .buttons {
    flex-direction: column;
    justify-content: center;
    height: 100px;
  }

  .training {
    margin: auto 20px auto;
    width: 88%;
  }

  .view-workouts {
    margin: 0 0 10px;
  }

  .training-header,
  .projects-header {
    height: 100px;
  }

  .projects-title {
    font-size: 1.4rem;
  }

  .training-form {
    width: 95%;

    input,
    button,
    select,
    textarea {
      width: 250px;
      margin: 15px auto;
    }
  }

  .add-workout,
  .view-workouts {
    width: 130px;
  }
}

@media screen and (max-width: 500px) {
  .project-name {
    font-size: 1.3rem;
  }

  .project-grade,
  .project-location {
    margin-left: 10px;
    margin-right: 5px;
  }

  .projects {
    width: 95%;
    margin: 160px auto;
  }
}

@media screen and (max-width: 360px) {
  .training-title {
    font-size: 1.4rem;
  }

  .training-form {
    width: 300px;
    padding: 22px 26px;
  }

  .add-workout,
  .view-workouts {
    width: 90px;
    margin-left: 5px;
    font-size: .6rem;
  }

  .project-grade,
  .project-location {
    font-size: .6rem;
  }
}