.projects-header {
  @include pageHeader();
}

.add-project {
  @include button();
}

.projects-title {
  @include pageTitle();
}

.projects {
  @include pageBody();
  padding-bottom: 5px;
}

.project-name {
  @include ascentDetails($accent, 1.7rem);
  margin: 10px 0 22px;
  transition: .3s ease;

  &:hover {
    color: $text;
    cursor: pointer;
  }
}

.project-location,
.project-grade {
  @include ascentDetails($text, 1.1rem);
  margin: 10px 15px 22px;
}

.project,
.project div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project {
  margin: 15px;
  border-bottom: 1px solid $ruleLine;
}

.project-link {
  text-decoration: none;
}

.project-form {
  @include form();
  margin-bottom: 40px;

  input,
  button,
  select {
    @include form-element();
  }

  label {
    color: $text;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
  }

  h2 {
    @include form-title();
  }

  textarea {
    @include form-caption()
  }

  button {
    @include button();
    width: 200px;
    margin: 30px auto;
  }
}

input[type=number] {
  width: 157px;
}

@media screen and (max-width: 650px) {
  .project-form {
    width: 95%;

    input,
    button,
    select,
    textarea {
      width: 250px;
      margin: 15px auto;
    }

    input[type=number] {
      width: 100px;
      margin-left: 50px;
    }

    label {
      margin-left: 20%;
    }
  }
}

@media screen and (max-width: 380px) {
  button.add-project {
    width: 120px;
    font-size: .8rem;
    margin-left: 5px;
    margin-right: 10px;
  }

  .project-form label {
    margin-left: 8%;
  }
}

@media screen and (max-width: 360px) {
  .project-form {
    padding: 22px 26px;
  }
}