.project-header {
  @include pageHeader();
  margin-bottom: 0;
}

.add-project,
.add-progress,
.add-session,
.add-milestone {
  @include button();
  width: 160px;
}

.add-session {
  font-size: .9rem;
}

.project-priority {
  height: 22px;
  width: 150px;
  border-radius: 2px;
  background: $ruleLine;
  position: relative;
  overflow: hidden;

  h3 {
    position: relative;
    z-index: 5;
    font-size: 1rem;
    margin: 1px 5px;
    color: $text;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: 400;
  }
}

.priorityone { @include prioritygraphic(15px) }
.prioritytwo { @include prioritygraphic(30px) }
.prioritythree { @include prioritygraphic(45px) }
.priorityfour { @include prioritygraphic(60px) }
.priorityfive { @include prioritygraphic(75px) }
.prioritysix { @include prioritygraphic(90px) }
.priorityseven { @include prioritygraphic(105px) }
.priorityeight { @include prioritygraphic(120px) }
.prioritynine { @include prioritygraphic(135px) }
.priorityten { @include prioritygraphic(150px) }

.project-page {
  @include pageBody();
  padding-bottom: 15px;
}

.proj-location,
.proj-grade {
  @include ascentDetails($text, 1.1rem);
  margin: 10px;
}

.proj-name,
.proj-milestones,
.proj-journal {
  @include ascentDetails($accent, 1.7rem);
  margin: 10px 0 0;
}

.proj-name {
  margin-bottom: 7px;
}

.proj-milestones,
.proj-journal {
  cursor: pointer;
  transition: .4s ease;
  border-bottom: 1px solid $ruleLine;
  padding-bottom: 12px;

  &:hover {
    color: $text;
  }
}

.collapse-section {
  height: 0;
  overflow: hidden;
}

.open .collapse-section {
  height: auto;
}

.project-controls {
  margin: 0 15px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $ruleLine;
}

.project-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 2px;

  button {
    margin: 7px auto;
  }
}

.progress-meter {
  width: 300px;
  margin: 20px 40px 20px 0;
  text-align: center;
  color: $accent;
  border-right: 1px solid $ruleLine;
}

.season {
  margin: 0 auto 15px;

  .season-span {
    font-weight: 400;
    color: $text;
    margin-left: 3px;
  }
}

.project-caption {
  flex: 2;
  margin: 20px 0;
  padding-right: 30px;
  width: 200px;
  color: $text;
  font-size: 1.1rem;
  border-right: 1px solid $ruleLine;
}

.project-right {
  flex: 3;
  display: flex;
  justify-content: space-between;
}

.project-entries {
  margin: 15px;
}

.sent {
  color: $accent;
}

.project-entry {
  width: 97%;
  margin: 0 auto;
  border-bottom: 1px solid $ruleLine;

  h2 {
    color: $accent;
    font-weight: 400;
    margin: 10px auto 5px;
  }

  p {
    color: $text;
    margin: 0 auto 20px 3px;
  }
}

.data-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  h3 {
    position: relative;
    color: #D9D9D9;
    z-index: 5;
    width: 72px;
    text-align: center;
    margin: 15px auto;
    background: rgba(68, 67, 67, 0.9);
    border-radius: 50%;
    padding: 13px 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: 400;
  }
}

.high-point,
.moves-done {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: $ruleLine;
  position: relative;
  overflow: hidden;

  .one { @include graphic(10px) }
  .two { @include graphic(20px) }
  .three { @include graphic(30px) }
  .four { @include graphic(40px) }
  .five { @include graphic(50px) }
  .six { @include graphic(60px) }
  .seven { @include graphic(70px) }
  .eight { @include graphic(80px) }
  .nine { @include graphic(90px) }
  .ten { @include graphic(100px) }
}

@media screen and (max-width: 860px) {
  .project-header {
    height: 130px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 0;
    padding-right: 15px;
    padding-left: 15px;
  }

  .project-priority {
    margin: 10px auto;
  }

  .sent {
    margin: 0 auto;
    color: $accent;
  }
}

@media screen and (max-width: 800px) {
  .project-controls {
    flex-direction: column;
  }

  .project-caption {
    width: 95%;
    border-right: none;
    margin: 20px auto 0;
    padding-bottom: 20px;
    padding-right: 0;
    border-bottom: 1px solid $ruleLine;
  }

  .project-actions {
    margin: 0 auto;
  }

  .progress-meter {
    margin-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .project-page {
    width: 95%;
    margin: 160px auto;
  }

  .project-right {
    flex-direction: column;
  }

  .project-actions {
    margin: 5px auto 15px;
  }

  .progress-meter {
    width: 90%;
    border-right: none;
    margin: 20px auto 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid $ruleLine;
  }

  .project-priority {
    transform: scale(.7);
  }
}

@media screen and (max-width: 500px) {
  .project-header {
    height: 175px;
    padding-right: 0;
  }

  .data-container h3 {
    padding: 11px 0;
  }
}
