.project-header {
  @include pageHeader();
  margin-bottom: 0;
}

.add-project,
.add-progress,
.add-session,
.add-milestone {
  @include button();
}

.project-priority {
  @include ascentDetails($accent, 1.7rem);
  margin: 10px;
}

.project-page {
  @include pageBody();
  padding-bottom: 15px;
}

.proj-location,
.proj-grade {
  @include ascentDetails($text, 1.1rem);
  margin: 10px;
}

.proj-name,
.proj-milestones,
.proj-journal {
  @include ascentDetails($accent, 1.7rem);
  margin: 10px 0;
}

.proj-milestones,
.proj-journal {
  cursor: pointer;
}

.project-controls {
  width: 97%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $ruleLine;
}

.project-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 0;

  button {
    margin: 7px auto;
  }
}

.progress-meter {
  width: 500px;
  text-align: center;
  color: $accent;
}

.project-caption {
  margin: 20px 0;
  color: $text;
  font-size: 1.1rem;
}

.project-entries {
  margin: 15px;
}

.project-entry {
  width: 97%;
  margin: 0 auto;
  border-bottom: 1px solid $ruleLine;

  h2 {
    color: $accent;
    font-weight: 400;
    margin: 10px auto 5px;
  }

  p {
    color: $text;
    margin: 0 auto 20px 3px;
  }
}