.project-header {
  @include pageHeader();
  margin-bottom: 0;
}

.add-project,
.add-progress,
.add-session,
.add-milestone {
  @include button();
}

.project-priority {
  @include ascentDetails($accent, 1.7rem);
  margin: 10px;
}

.project-page {
  @include pageBody();
  padding-bottom: 15px;
}

.proj-location,
.proj-grade {
  @include ascentDetails($text, 1.1rem);
  margin: 10px;
}

.proj-name,
.proj-milestones,
.proj-journal {
  @include ascentDetails($accent, 1.7rem);
  margin: 10px 0;
}

.proj-milestones,
.proj-journal {
  cursor: pointer;
}

.project-controls {
  width: 97%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $ruleLine;
}

.project-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 2px;

  button {
    margin: 7px auto;
  }
}

.progress-meter {
  width: 300px;
  margin-right: 30px;
  text-align: center;
  color: $accent;
}

.project-caption {
  flex: 2;
  margin: 20px 0;
  color: $text;
  font-size: 1.1rem;
}

.project-right {
  flex: 3;
  display: flex;
  justify-content: space-between;
}

.project-entries {
  margin: 15px;
}

.project-entry {
  width: 97%;
  margin: 0 auto;
  border-bottom: 1px solid $ruleLine;

  h2 {
    color: $accent;
    font-weight: 400;
    margin: 10px auto 5px;
  }

  p {
    color: $text;
    margin: 0 auto 20px 3px;
  }
}

.data-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.high-point,
.moves-done {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: $ruleLine;
  position: relative;
  overflow: hidden;

  .one { @include graphic(10px) }
  .two { @include graphic(20px) }
  .three { @include graphic(30px) }
  .four { @include graphic(40px) }
  .five { @include graphic(50px) }
  .six { @include graphic(60px) }
  .seven { @include graphic(70px) }
  .eight { @include graphic(80px) }
  .nine { @include graphic(90px) }
  .ten { @include graphic(100px) }
}
