.ascents-header {
  @include pageHeader();
}

.add-ascent {
  @include button();
}

.ascents-title {
  @include pageTitle();
}

.ascents {
  @include pageBody();
}

.grade-section {
  margin: 10px 18px 18px;

  h3 {
    color: $text;
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid $ruleLine;
    font-weight: 600;
    font-size: 1.3rem;
  }
}

.ascent {
  border-bottom: 1px solid $ruleLine;

  p {
    color: $text;
    margin: 0 0 20px 7px;
  }
}

.ascent div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ascent-name {
  @include ascentDetails($accent, 1.7rem);
}

.ascent-location {
  @include ascentDetails($text, 1.1rem);
  margin-left: 20px;
  margin-bottom: 5px;
}

.ascent-form {
  @include form();

  input,
  button,
  select {
    @include form-element();
  }

  h2 {
    @include form-title();
  }

  textarea {
    @include form-caption()
  }

  button {
    @include button();
    width: 200px;
    margin: 30px auto;
  }
}

.content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-times {
  cursor: pointer;
  margin: 5px 10px 20px;
  font-size: 1.5rem;
  color: $text;
  transition: .4s ease;

  &:hover {
    font-size: 1.6rem;
    color: tomato;
  }
}

@media screen and (max-width: 450px) {
  .ascents-title {
    font-size: 1.4rem;
  }

  .add-ascent {
    width: 110px;
  }

  .ascents {
    width: 95%;
    margin: 160px auto;
  }

  .ascent-form {
    width: 95%;

    input,
    button,
    select,
    textarea {
      width: 250px;
      margin: 15px auto;
    }
  }
} 

@media screen and (max-width: 360px) {
  .ascent-form {
    width: 300px;
    margin-bottom: 20px;
    padding: 22px 26px;
  }
}