.app {
  height: 100vh;
  margin: 0;
  background: url('./assets/sport.jpg');
  background-size: cover;
  background-position: center;
  transition: 1s ease;
  overflow: scroll;
  position: relative;
  z-index: 0;
}

.boulder {
  background: url('./assets/boulder.jpg');
  background-size: cover;
  background-position-x: 90%;
  transition: 1s ease;
}

.no-user-msg {
  text-align: center;
  width: 100%;
  margin-top: 150px;
  background: $darkGrey;
  color: $accent;
  height: 100px;
  padding-top: 30px;
}