@import './variables';
@import './components/Header/Header';
@import './containers/App/App';
@import './components/Home/Home';
@import './components/Ascents/Ascents';
@import './components//Projects/Projects';
@import './components//ProjectPage/ProjectPage';

* {
  font-family: 'Rajdhani', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}