@import './variables';
@import './containers/App/App';
@import './containers/Ascents/Ascents';
@import './containers/Home/Home';
@import './containers/Header/Header';
@import './containers/Projects/Projects';
@import './containers/Training/Training';
@import './containers/ProjectPage/ProjectPage';
@import './containers/Login/Login';
@import './containers//Error/Error';

* {
  font-family: 'Rajdhani', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}