.header {
  display: flex;
  align-items: center;
  background: $darkGrey;
  opacity: .97;
  padding-left: 115px;
  position: fixed;
  z-index: 2;
  width: 100%;
  box-shadow: 0 1px 30px 1px rgba(200, 200, 200, 0.1);

  button {
    @include button();
    position: absolute;
    top: 25px;
    right: 20px;
  }
}

.logo {
  width: 144px;
  height: 107px;
  background: url('./assets/progressionLogo.png');
  background-size: cover;
  position: absolute;
  top: -36px;
  left: -36px;
}

.nav-item {
  color: $text;
  text-decoration: none;
  font-size: 2rem;
  height: 88px;
  line-height: 280%;
  width: 200px;
  text-align: center;
  transition: .3s ease;

  &:hover {
    background: $lightGrey;
    color: $darkGrey;
  }
}

.active,
.active:hover {
  color: $accent;
}

.current-user {
  position: absolute;
  top: 0;
  right: 15px;
  display: flex;

  .fa-user-circle {
    font-size: 2.7rem;
    color: $accent;
    margin-top: 20px;
  }

  div {
    margin-top: 20px;
    transition: .3s ease;
    border-radius: 6px;
    border-top-right-radius: 0;
  }
  
  h2 {
    margin: 3px 3px 0;
    font-size: 1.2rem;
    color: $text;
    text-align: center;
    transition: .3s ease;
    padding: 10px;
    cursor: pointer;
  }

  h2:nth-child(1) {
    font-weight: 400;
  }

  div:hover {
    background: $midGrey;
  }

  .fa-user-circle {
    height: 47px;
    padding: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .3s ease;
  }

  .fa-caret-down {
    transition: .4s ease;
    padding-right: 2px;
  }

  div:hover .fa-caret-down {
    transform: rotate(180deg);
    padding-bottom: 2px;
    padding-right: 2px;
  }

  div:hover ~ .fa-user-circle {
    background: $midGrey;
  }

  h2:nth-child(1):hover ~ .logout-link h2 {
    opacity: 1;
    height: 50px;
  }

  .logout-link h2 {
    margin-top: 0;
    background: $midGrey;
    height: 0px;
    padding-top: 10px;
    opacity: 0;
    transition: .3s ease;
    
    &:hover {
      height: 50px;
      opacity: 1;
      color: $accent;
    }
  }
}

.logout-link {
  text-decoration: none;
}