.header {
  display: flex;
  align-items: center;
  background: $darkGrey;
  opacity: .97;
  padding-left: 115px;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 88px;
  box-shadow: 0 1px 30px 1px rgba(200, 200, 200, 0.1);

  button {
    @include button();
    position: absolute;
    top: 25px;
    right: 20px;
  }
}

.logo {
  width: 144px;
  height: 107px;
  background: url('./assets/progressionLogo.png');
  background-size: cover;
  position: absolute;
  top: -36px;
  left: -36px;
}

.nav-item {
  color: $text;
  text-decoration: none;
  font-size: 2rem;
  height: 88px;
  line-height: 280%;
  width: 200px;
  text-align: center;
  transition: .3s ease;

  &:hover {
    background: $lightGrey;
    color: $darkGrey;
  }
}

.active,
.active:hover {
  color: $accent;
}

.current-user {
  position: absolute;
  top: 0;
  right: 15px;
  display: flex;

  .fa-user-circle {
    font-size: 2.7rem;
    color: $accent;
    margin-top: 20px;
  }

  div {
    margin-top: 20px;
    transition: .3s ease;
    border-radius: 6px;
    border-top-right-radius: 0;
  }
  
  h2 {
    margin: 3px 3px 0;
    font-size: 1.2rem;
    color: $text;
    text-align: center;
    transition: .3s ease;
    padding: 10px;
    cursor: pointer;
  }

  h2:nth-child(1) {
    font-weight: 400;
  }

  div:hover {
    background: $midGrey;
  }

  .fa-user-circle {
    height: 47px;
    padding: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .3s ease;
  }

  .fa-caret-down {
    transition: .4s ease;
    padding-right: 2px;
  }

  div:hover .fa-caret-down {
    transform: rotate(180deg);
    padding-bottom: 2px;
    padding-right: 2px;
  }

  div:hover ~ .fa-user-circle {
    background: $midGrey;
  }

  h2:nth-child(1):hover ~ .logout-link h2 {
    opacity: 1;
    height: 50px;
  }

  .logout-link h2 {
    margin-top: 0;
    background: $midGrey;
    height: 0px;
    padding-top: 10px;
    opacity: 0;
    transition: .3s ease;
    
    &:hover {
      height: 50px;
      opacity: 1;
      color: $accent;
    }
  }
}

.logout-link {
  text-decoration: none;
}

.drop-down {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
}

.drop-box {
  display: flex;
  flex-direction: column;
  background: $darkGrey;
  margin-top: 27px;
  height: 0;
  width: 200px;
  transition: .4s ease;
  border-bottom-left-radius: 4px;
  box-shadow: 0 4px 5px 1px rgba(200, 200, 200, 0.1);
}

.drop-nav {
  display: none;
}

.drop-logout {
  color: $text;
  text-align: center;
  transition: .3s ease;
  display: none;
  margin: 4px auto 6px;

  &:hover {
    color: $accent;
  }
}

#burger-check {
  display: none;
}

input[type="checkbox"]:checked ~ .drop-box  {
  height: 344px;
}

input[type="checkbox"]:checked ~ .drop-box .drop-nav,
input[type="checkbox"]:checked ~ .drop-box .drop-logout  {
  display: unset;
  animation: slide 1s ease forwards;
}

@keyframes slide {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bar2 {
  0% {
    transform: translateX(0px)
  }
  50%, 100% {
    transform: translateX(150px)
  }
}

@keyframes bar2back {
  0% {
    transform: translateX(150px)
  }
  100% {
    transform: translateX(0px)
  }
}

@keyframes bar1 {
  0% {
    transform-origin: right;
    transform: rotate(0deg) translateY(0px) translateX(0px);
  }
  100% {
    transform-origin: right;
    transform: rotate(44deg) translateY(30px) translateX(20px);
  }
}

@keyframes bar1back {
  0% {
    transform-origin: right;
    transform: rotate(44deg) translateY(30px) translateX(20px);
  }
  100% {
    transform-origin: right;
    transform: rotate(0deg) translateY(0px) translateX(0px);
  }
}

@keyframes bar3 {
  0% {
    transform-origin: left;
    transform: rotate(0deg) translateY(0px) translateX(0px);
  }
  100% {
    transform-origin: left;
    transform: rotate(-45.5deg) translateY(10px) translateX(2px);
  }
}

@keyframes bar3back {
  0% {
    transform-origin: left;
    transform: rotate(-45.5deg) translateY(10px) translateX(2px);
  }
  100% {
    transform-origin: left;
    transform: rotate(0deg) translateY(0px) translateX(0px);
  }
}

input[type="checkbox"]:checked ~ .burger .b2 {
  animation: bar2 .6s ease forwards;
}

input[type="checkbox"]:checked ~ .burger .b1 {
  animation: bar1 .6s ease forwards;
}

input[type="checkbox"]:checked ~ .burger .b3 {
  animation: bar3 .6s ease forwards;
}

.b1 {
  animation: bar1back .6s ease forwards;
}

.b2 {
  animation: bar2back .6s ease forwards;
}

.b3 {
  animation: bar3back .6s ease forwards;
}

.burgerbar {
  width: 50px;
  height: 10px;
  background: $accent;
  margin: 0px 20px 5px auto;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .wide-nav {
    display: none;
  }

  .drop-down {
    display: unset;
  }

  .current-user {
    display: none;
  }

  .header button {
    width: 155px;
  }
}